body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: #eb3f3f;
    background: linear-gradient(90deg, rgba(235, 63, 63, 1) 0%, rgba(242, 97, 138, 1) 50%, rgba(232, 37, 164, 1) 100%);;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h3 {
    margin: 0;
}

#scoreboard {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}